## California Dataset
+ We will be attempting to predict the median values in california using the given dataset.

In [17]:
# Importing the necessary libraries
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
import sklearn.datasets
import numpy as np

In [15]:
# reading the file
housedata = pd.read_csv('housing.data')
californiadata = sklearn.datasets.fetch_california_housing(data_home=None, download_if_missing=True, return_X_y=False, as_frame=False)

## Exploratory Data Analysis

In [18]:
# Converting the bunch to dataframe we can use to manipulate data and work with.
homedata = pd.DataFrame(californiadata.data, columns=californiadata.feature_names)
homedata.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [19]:
homedata.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [20]:
# Selecting the prediction target
y= homedata['MedInc']

In [45]:
# Feature selection
feats = ['HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude']
X = homedata[feats]

### Building the model

In [77]:
# We shall be using the decision tree regressor
calimodel = DecisionTreeRegressor(max_leaf_nodes=500,random_state=7)

In [78]:
# Splitting the training data and the validation data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [79]:
# Training or fitting the model
calimodel.fit(train_X,train_y)

DecisionTreeRegressor(max_leaf_nodes=500, random_state=7)

In [80]:
# Running predictions with the model
predictions = calimodel.predict(val_X)
print(predictions[0:7])

[3.54986667 5.09502913 4.18543241 1.72386571 4.70195333 2.69405714
 6.30105   ]

In [81]:
# using mean absolute error for model validation
print(mean_absolute_error(val_y, predictions))

0.7274001388198948